fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
google-generativeai
resend
requests
fpdf2
pillow
email-validator
jinja2
httpx
python-bidi
arabic-reshaper
websockets
bcrypt==3.2.2
authlib>=1.3.0
itsdangerous==2.2.0