fastapi>=0.109.0
uvicorn>=0.27.0
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart>=0.0.9  <-- ON FORCE UNE VERSION RÉCENTE
python-dotenv
google-generativeai
resend
requests
fpdf2
pillow
email-validator
jinja2
httpx
python-bidi
arabic-reshaper
websockets
bcrypt==3.2.2
authlib>=1.3.0
itsdangerous==2.2.0